table {
	font-size: 112.5%;
	text-align: center;
	width: 75%;
	height: auto;
}

#slickOne {
	margin-left: 25px;
	margin-right: 25px;
}

#slickOne .item {
	margin: 0px;
}

#slickOne .item img {
	display: block;
	width: 100%;
	height: auto;
}

#slickTwo {
	margin-left: 25px;
	margin-right: 25px;
}

#slickTwo .item {
	margin: 0px;
}

#slickTwo .item img {
	display: block;
	width: 100%;
	height: auto;
}

#slickThree {
	margin-left: 25px;
	margin-right: 25px;
}

#slickThree .item {
	margin: 10px;
}

#slickThree .item img {
	display: block;
	width: 100%;
	height: auto;
}

/*img {
	margin-bottom: -25px;
	padding: 0px;
}*/

a {
	color: #999999;
	text-shadow: 0 0 2px #999999;
}

p {
	font-size: 125%;
	text-shadow: 0 0 1.5px #FFFFFF;
}

h2 {
	margin-top: 1.25em;
	margin-bottom: 0;
}
